/*
 * Empty Stylesheet file.
 */

#labelsGridPaneFX {
    -fx-background-color: white;
}

.label {
    -fx-font-size: 5px;
    -fx-wrap-text: true;
}

/*#company_name_and_address1,
#company_name_and_address2,
#company_name_and_address3,
#company_name_and_address4,
#company_name_and_address5,
#company_name_and_address6,
#company_name_and_address7,
#company_name_and_address8,
#company_name_and_address9,
#company_name_and_address10,
#company_name_and_address11,
#company_name_and_address12,
#company_name_and_address13,
#company_name_and_address14,
#company_name_and_address15,
#company_name_and_address16,
#company_name_and_address17,
#company_name_and_address18,
#company_name_and_address19,
#company_name_and_address20,
#company_name_and_address21,
#company_name_and_address22,
#company_name_and_address23,
#company_name_and_address24,
#company_name_and_address25,
#company_name_and_address26,
#company_name_and_address27,
#company_name_and_address28,
#company_name_and_address29,
#company_name_and_address30 {
    -fx-font-size: 5px;
    -fx-font-weight: bold;
}*/